<!DOCTYPE html>
<html>

<head>
    <title>Spring Boot Working</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link rel="stylesheet" type="text/css"
          href="webjars/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css"
          href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css"/>
          
    <script type="text/javascript"
        src="webjars/jquery/2.2.4/jquery.min.js"></script>

	<script type="text/javascript" src="js/main.js"></script>
	<script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
          
</head>
<body>

<nav class="navbar navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Spring Boot Working</a>
        </div>
    </div>
</nav>

<div class="container" style="min-height: 500px">

    <div class="starter-template">
        <h1>Spring Boot</h1>
		<table class="table" id="work_table">
			<thead class="thead-dark">
				<th scope="col">Id</th>
				<th scope="col">Name</th>
				<th scope="col">Start date</th>
				<th scope="col">End date</th>
				<th scope="col">Status</th>
				<th scope="col">Edit</th>
				<th scope="col">Delete</th>
			</thead>
			<tbody>
				<tr th:each="work : ${workings}">
			        <th scope="row" th:text="${work.id}" class="id">1</th>
			        <td th:text="${work.name}" class="name" contentEditable="true">Name ...</td>
			        <td class="stdate" contentEditable="true">
			        <input type="date" class="form-control" id="startdate" name="startdate" th:value="${#temporals.format(work.startdate, 'yyyy-MM-dd')}"/>
			        </td>
			        <td class="enddate" contentEditable="true">
			       	<input type="date" class="form-control" id="enddate" name="enddate" th:value="${#temporals.format(work.enddate, 'yyyy-MM-dd')}"/>
			        </td>
			        <td class="status" contentEditable="true">
			        	<select class="form-control" id="status" name="status" th:value="${work.status}">
						  <option value="planing">Planing</option>
						  <option value="doing">Doing</option>
						  <option value="complete">Complete</option>
						</select>
			        </td>
			        <td><button class="button" onclick="updateRow(this);">Update</button></td>
			        <td><button class="button" onclick="deleteRow(this);">Delete</button></td>
				</tr>
			</tbody>
			
		</table>
        <div id="feedback"></div>

        <form class="form-horizontal" id="add-form">
            <div class="form-group form-group-lg">
                <label class="col-sm-2 control-label">Name</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="name" name="name"/>
                </div><br></br>
                
                <label class="col-sm-2 control-label">Start date</label>
                <div class="col-sm-4">
                    <input type="date" class="form-control" id="startdate" name="startdate"/>
                </div><br></br>
                
                <label class="col-sm-2 control-label">End date</label>
                <div class="col-sm-4">
                    <input type="date" class="form-control" id="enddate" name="enddate"/>
                </div><br></br>
                
                <label class="col-sm-2 control-label">Status</label>
                <div class="col-sm-4">
                    <select class="form-control" id="status" name="status">
					  <option value="planing" selected="selected">Planing</option>
					  <option value="doing">Doing</option>
					  <option value="complete">Complete</option>
					</select><br></br>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" id="bth-save"
                            class="btn btn-primary btn-lg">Add New
                    </button>
                </div>
            </div>
        </form>

    </div>

</div>


</body>
</html>